.bg-dots {
  position: relative;

  &:after {
    position: absolute;
    content: "";
    background-image: radial-gradient(#ffffff1c 8%, #0000 8%);
    background-size: 24px 24px;
    inset: 1rem;
    z-index: -1;
  }
}
