@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

@theme inline {
    --color-background: var(--color-holi-900);
    --color-foreground: var(--color-holi-50);

    --font-sans: var(--font-geist-sans);
    --font-mono: var(--font-geist-mono);
    --color-sidebar-ring: var(--sidebar-ring);
    --color-sidebar-border: var(--sidebar-border);
    --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
    --color-sidebar-accent: var(--sidebar-accent);
    --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
    --color-sidebar-primary: var(--sidebar-primary);
    --color-sidebar-foreground: var(--sidebar-foreground);
    --color-sidebar: var(--sidebar);
    --color-chart-5: var(--chart-5);
    --color-chart-4: var(--chart-4);
    --color-chart-3: var(--chart-3);
    --color-chart-2: var(--chart-2);
    --color-chart-1: var(--chart-1);
    --color-ring: var(--ring);
    --color-input: var(--input);
    --color-border: var(--border);
    --color-destructive: var(--destructive);
    --color-accent-foreground: var(--accent-foreground);
    --color-accent: var(--accent);
    --color-muted-foreground: var(--muted-foreground);
    --color-muted: var(--muted);
    --color-secondary-foreground: var(--secondary-foreground);
    --color-secondary: var(--secondary);
    --color-primary-foreground: var(--primary-foreground);
    --color-primary: var(--primary);
    --color-popover-foreground: var(--popover-foreground);
    --color-popover: var(--popover);
    --color-card-foreground: var(--card-foreground);
    --color-card: var(--card);
    --radius-sm: calc(var(--radius) - 4px);
    --radius-md: calc(var(--radius) - 2px);
    --radius-lg: var(--radius);
    --radius-xl: calc(var(--radius) + 4px);
}

:root {
    --primary: var(--color-holi-200);
    --primary-foreground: var(--color-holi-800);
    --secondary: var(--color-holi-800);
    --secondary-foreground: var(--color-holi-200);

    --muted: oklch(0.97 0 0);
    --muted-foreground: oklch(0.556 0 0);

    --accent: var(--color-holi-200);
    --accent-foreground: var(--color-holi-700);
    --destructive: oklch(0.577 0.245 27.325);
}

.dark {
    --primary: var(--color-holi-200);
    --primary-foreground: var(--color-holi-800);
    --secondary: var(--color-holi-800);
    --secondary-foreground: var(--color-holi-200);

    --muted: oklch(0.269 0 0);
    --muted-foreground: oklch(0.708 0 0);
    --accent: oklch(0.269 0 0);
    --accent-foreground: oklch(0.985 0 0);
    --destructive: oklch(0.704 0.191 22.216);
}

:root {
    --radius: 0.625rem;
    --background: var(--color-holi-900);
    --foreground: white;
    --card: oklch(1 0 0);
    --card-foreground: oklch(0.145 0 0);
    --popover: oklch(1 0 0);
    --popover-foreground: oklch(0.145 0 0);

    --border: var(--color-holi-200);
    --input: var(--color-holi-200);
    --ring: var(--color-holi-200);

    --chart-1: oklch(0.646 0.222 41.116);
    --chart-2: oklch(0.6 0.118 184.704);
    --chart-3: oklch(0.398 0.07 227.392);
    --chart-4: oklch(0.828 0.189 84.429);
    --chart-5: oklch(0.769 0.188 70.08);

    --sidebar: oklch(0.985 0 0);
    --sidebar-foreground: oklch(0.145 0 0);
    --sidebar-primary: oklch(0.205 0 0);
    --sidebar-primary-foreground: oklch(0.985 0 0);
    --sidebar-accent: oklch(0.97 0 0);
    --sidebar-accent-foreground: oklch(0.205 0 0);
    --sidebar-border: oklch(0.922 0 0);
    --sidebar-ring: oklch(0.708 0 0);
}


.dark {
    --background: var(--color-holi-950);
    --foreground: var(--color-holi-200);
    --card: oklch(0.205 0 0);
    --card-foreground: oklch(0.985 0 0);
    --popover: oklch(0.205 0 0);
    --popover-foreground: oklch(0.985 0 0);
    --border: oklch(1 0 0 / 10%);
    --input: oklch(1 0 0 / 15%);
    --ring: oklch(0.556 0 0);
    --chart-1: oklch(0.488 0.243 264.376);
    --chart-2: oklch(0.696 0.17 162.48);
    --chart-3: oklch(0.769 0.188 70.08);
    --chart-4: oklch(0.627 0.265 303.9);
    --chart-5: oklch(0.645 0.246 16.439);
    --sidebar: oklch(0.205 0 0);
    --sidebar-foreground: oklch(0.985 0 0);
    --sidebar-primary: oklch(0.488 0.243 264.376);
    --sidebar-primary-foreground: oklch(0.985 0 0);
    --sidebar-accent: oklch(0.269 0 0);
    --sidebar-accent-foreground: oklch(0.985 0 0);
    --sidebar-border: oklch(1 0 0 / 10%);
    --sidebar-ring: oklch(0.556 0 0);
}

@layer base {
    * {
        @apply border-border outline-ring/50;
    }

    body {
        @apply bg-background text-foreground;
    }
}


/* Custom Styles Below*/

@theme {
    /* Custom Colors Config */
    --color-holi-50: hsl(73, 100%, 96%);
    --color-holi-100: hsl(85, 100%, 93.8%);
    --color-holi-200: hsl(97, 100%, 82%); /* holisticon light #c8ffa5 */
    --color-holi-300: hsl(109, 90.7%, 70.2%);
    --color-holi-400: hsl(121, 81.3%, 58.3%);
    --color-holi-500: hsl(133, 72%, 46.5%);
    --color-holi-600: hsl(144, 62.7%, 34.7%);
    --color-holi-700: hsl(156, 53.3%, 22.8%);
    --color-holi-800: hsl(168, 44%, 11%); /* holisticon dark #102924 */
    --color-holi-900: hsl(180, 34.7%, 8%);
    --color-holi-950: hsl(192, 25.3%, 5%);
}

/*
    Tailwind Breakpoints
    2xs: 24rem = 384px -> my custom breakpoint
    xs: 32rem = 512px -> my custom breakpoint
    sm: 40rem = 640px
    md: 48rem = 768px
    lg: 64rem = 1024px
    xl: 80rem = 1280px
    2xl: 96rem = 1536px
*/

:root {
    /* xs-md = 512px –> 768px */
    --clamp-xs-md-16-64: clamp(1rem, -5rem + 18.75vw, 4rem); /* 16px → 64px */
    --clamp-xs-md-24-64: clamp(1.5rem, -3.5rem + 15.625vw, 4rem); /* 24px → 64px */
    --clamp-xs-md-32-64: clamp(2rem, -2rem + 12.5vw, 4rem); /*  32px → 64px */
    --clamp-xs-md-44-72: clamp(2.75rem, -0.75rem + 10.9375vw, 4.5rem); /* 44px → 72px */
    --clamp-xs-md-28-44: clamp(1.75rem, 0.663rem + 4.3478vw, 2.75rem); /* 28px → 44px */

    /* color step 750 is not included in tw Api so not definable in @theme */
    --color-holi-750: hsl(162, 49%, 15.4%);

    /* Custom Text-Select Colors */
    --selection-color: hsla(97, 100%, 82%, 1);
    --selection-bg-color: hsla(162, 49%, 15.4%, 0.75);
}

@theme {
    /* Custom Sizes Config */
    --breakpoint-2xs: 24rem;
    --breakpoint-xs: 32rem;

    --text-h1-font-size-fluid: var(--clamp-xs-md-44-72);
    --leading-h1-fluid: var(--clamp-xs-md-44-72);

    --text-h2-font-size-fluid: var(--clamp-xs-md-28-44);
    --leading-h2-fluid: var(--clamp-xs-md-28-44);
}