.bg-dots {
  position: relative;

  &:after {
    position: absolute;
    content: "";
    background-image: radial-gradient(var(--color-holi-700) 8%, rgba(0,0,0,0) 8%);
    background-size: 24px 24px;
    inset: 1rem;
    z-index: -1;
  }
}
